

/* login and Register Style */
// *{
//     // font-family: 'Cairo', sans-serif !important;
//     // font-family: ;
// }

.login {
    // position: absolute;
    inset: 0;


    img  {
        width: 100%;
        height: 100vh;
    }
    .box {
        z-index: 5;
        width: 30%;
        padding: 50px 20px;
        border: 1px solid #ddd;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 2px 5px rgba(202, 37, 16, 0.3);
        h2 {
            color: #bc1059;
        }

        button {
            padding: 2px 100px;
        }
    }
  }

//   :host ::ng-deep {
//     .mat-form-field-appearance-outline  {
//       border-color: #FFF!important;
//       .mat-form-field-outline {
//         color: #FFF!important;
//       }
//     }
//     .mat-form-field-outline,
//     .mat-form-field-empty.mat-form-field-label,
//     .mat-form-field-label,
//     .mat-form-field-underline,
//     .mat-input-element,
//     ::placeholder {
//         color: #FFF!important;
//     }
//   }
.login1{
position: relative;
    .overlay {
        background-color: rgba(0,0,0, 0.6);
        position: absolute;
        inset: 0;
        z-index: 1;
    }
}
// @media (min-width:767.99px){
//   .login{
//     margin-top: 10rem !important;
//   }
// }

.mainpage{
    background: url('../desola-lanre-ologun-zYgV-NGZtlA-unsplash.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    .mainSec{
        position: absolute;

    }
}
.mainpage::before{
    content: '';
    background-color: rgba(0,0,0, 0.6);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
    table {
        thead {
            .mat-header-cell {
                color: #FFF;
            }
        }
    }
.mat-elevation-z8 thead{
            background-color: #bc1059!important;

}

.w-20 {
    width: 20%!important;
}
th{
    text-align: center !important;
    font-size: 15px;
    // font-weight: 600;
}
td{
    text-align: center !important;
}
.badge {
    display: inline-block;
    padding: .5rem;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
@media (max-width:991.99px){

  .listBox{
    overflow-y: scroll;
  }
}
h1 {
    font-weight: bold;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;
}
::ng-deep .mat-dialog-container {
    padding: 0 !important;
}

h1 {
    font-weight: bold;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;
}
label{
    font-size: 16px ;
    font-weight: 500;
}
.mat-dialog-container {
    padding: 0 !important;
}
h1 {
    font-weight: bold;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;
}
.mat-dialog-container {
    padding: 0 !important;
}
button {
    color: #FFF;
    margin: 0 5px;
    &.addTask {
        background-color: #ca085a;
        color: #FFF;
        padding: 2px 23px;
        font-size: 20px;
    }
}


.w-20 {
    width: 20%!important;
}
table {
  width: 100%;
}
td{
    padding: 5px !important;
}
th{
    text-align: center !important;
}

@media (min-width:991.99px){
    .navbar-toggler{
        display: none !important;
    }
 .langs{
     margin-top:0 !important;
    }

}

 .langs{
     margin-top:10px;
    }

    @media (max-width:991px) {
        #navbarSupportedContent{
    // content: '';
    border-left: 3px solid #910340;
        padding: 17px;
    margin-left: 15px;
}
nav {
    a {
        &.active  {
width: 104px;
        }
    }
}

    }




.btn{
    border-color:#910340 !important;
}
.deleteBtn
{
        float: left;
    margin-right: 8px !important;
    margin-left: 0 !important;

}
